<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/afernandez-net/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="afernandez-net" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>